<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tipping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1591E6F71E49DF8400F13CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1591E70B1E49DF8500F13CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1591E7161E49DF8500F13CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
